* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./../image/photo-1695173585549-233c886780cf.avif);
  background-repeat: no-repeat;
  width: 70vw;
  height: 70vw;
  padding: 20vh;
  background-size: cover;
  background-position: center;
}

h1 {
  background-color: royalblue;
  text-align: center;
}
